<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:title" content="운송 관리 시스템">
  <meta property="og:description" content="운송장번호에 기반한 운송관리시스템 5조">
  <!--    <meta property="og:image" content="images/og_chadda.png">-->
  <!-- Favicon-->
  <!--    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />-->
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script th:src="@{/js/main.js}" ></script>
  <title>Transportation Management System</title>
</head>
<body>
<div class="header" style="position:relative;">

  <div id="header-title-select-shop">
    <!--        <img id="header-title-image" src = "images/chadda_logo.png" alt="">-->
    WELCOME 오늘의 택배 🚚
  </div>
  <form id="signin_form" method="get" action="/user/loginView" >

    <a id="login-text" href="javascript:{}" onclick="document.getElementById('signin_form').submit(); "> 로그인</a>
  </form>
  <form id="signout_form" method="post" action="/user/logout" >
    <a id="logout-text" href="javascript:{}" onclick="document.getElementById('signout_form').submit(); "> <span id="username">user</span>님 로그아웃</a>
  </form>
</div>
<div class="nav">
</div>

<div id="see-area">
  <div id="user-posts">

  </div>
</div>

<div id="search-area">
  <div>
    <input type="text" id="query">
  </div>
  <div class="search-itemDto">
<!--    <tr th:each="list : ${searchList}">-->
<!--      <td th:text="${list.id}"></td><hr>-->
<!--      <td th:text="${list.area}"></td><hr>-->
<!--      <td th:text="${list.state}"></td><hr>-->
<!--      <td th:text="${list.customer}"></td><hr>-->
<!--      <td th:text="${list.arrivalDate}"></td><hr>-->
<!--      <td th:text="${list.username}"></td><hr>-->
<!--    </tr>-->
<!--    <br>-->
<!--    <tr th:each="list : ${searchFilter}">-->
<!--      <td th:text="${list.id}"></td><hr>-->
<!--      <td th:text="${list.area}"></td><hr>-->
<!--      <td th:text="${list.state}"></td><hr>-->
<!--      <td th:text="${list.customer}"></td><hr>-->
<!--      <td th:text="${list.arrivalDate}"></td><hr>-->
<!--      <td th:text="${list.username}"></td><hr>-->
<!--    </tr>-->
    <span th:text="${#response}"></span>
  </div>
</div>
</body>
</html>