<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:title" content="운송 관리 시스템">
  <meta property="og:description" content="운송장번호에 기반한 운송관리시스템 5조">
  <!--    <meta property="og:image" content="images/og_chadda.png">-->
  <!-- Favicon-->
  <!--    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />-->
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script th:src="@{/js/main.js}" ></script>
  <title>Transportation Management System</title>
</head>
<body>
<div class="header" style="position:relative;">

  <div id="header-title-select-shop">
    <!--        <img id="header-title-image" src = "images/chadda_logo.png" alt="">-->
    WELCOME 오늘의 택배 🚚 <span th:text="${username}"></span>님 반갑습니다.
  </div>
  <form id="signout_form" method="post" action="/account/logout" >
    <a id="logout-text" href="javascript:{}" onclick="document.getElementById('signout_form').submit(); "> <span th:text="${username}"></span>님 로그아웃</a>
  </form>
</div>
<div class="nav">
</div>

<div id="see-area">
  <div id="user-posts">

  </div>
</div>
<button type="button" onclick="ajaxTest()">배송중</button>
<button type="button" onclick="ajaxTest2()">배송완료</button>
<div id="search-area">
  <div>
    <input type="text" id="query">
  </div>
  <div class="search-itemDto">


    <table class="table table-striped">
      <tr>
        <th>운송장 번호</th>
        <th>Route</th>
        <th>SubRoute</th>
        <th>배송상태</th>
        <th>수령인</th>
        <th>도착일자</th>
        <th>배송담당자</th>
      </tr>
      <tbody id="dynamicTbody">

      </tbody>
    </table>

  </div>
</div>
</body>
</html>