<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="운송 관리 시스템">
    <meta property="og:description" content="운송장번호에 기반한 운송관리시스템 5조">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>-->
    <script th:src="@{/js/admin.js}" ></script>
    <title>Transportation Management System</title>
</head>
<body>
<div class="body_top" style="position:relative;">
    <div id="title-TMS">
        WELCOME 오늘의 택배 🚚 <span th:text="${username}"></span>님 반갑습니다.
    </div>
    <form id="signout_form" method="post" action="/account/logout" >
        <a id="logout-text" href="javascript:{}" onclick="document.getElementById('signout_form').submit(); "> 로그아웃</a>
    </form>
</div>
<hr width = "100%" color="black" size = "3">
<div class="search-bar" style="position:relative;">
    <button value="상세조건 검색" onclick="openDetail()">상세조건 검색</button>
    <input type="text" id="courierId" placeholder="검색할 송장번호 입력"><button value="송장 검색" onclick="searchCourier()">개별 송장 검색</button>
    <button value="송장 할당" onclick="updateCourier()">할당 적용</button>
</div>

</body>
</html>