<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="운송 관리 시스템">
    <meta property="og:description" content="운송장번호에 기반한 운송관리시스템 5조">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/admin.js}" ></script>
    <title>Transportation Management System</title>
</head>
<body>
<div class="body_top" style="position:relative;">
    <div id="title-TMS">
        WELCOME 오늘의 택배 🚚 <span th:text="${username}"></span>님 반갑습니다.
    </div>
    <form id="signout_form" method="post" action="/account/logout" >
        <a id="logout-text" href="javascript:{}" onclick="document.getElementById('signout_form').submit(); "> 로그아웃</a>
    </form>
</div>
<div class="search-bar" style="position:relative;">
    <div class="search-bar-element">
    <button value="상세조건 검색" onclick="openDetail()">상세조건 검색</button>
    </div>
    <div class="search-bar-element">
        <input type="text" id="courierId" placeholder="검색할 송장번호 입력">
        <button value="송장 검색" onclick="searchCourier()">개별 송장 검색</button>
    </div>
    <div class="search-bar-element">
        <input type="text" id="saveCount" placeholder="user:subroute 갯수 입력">
        <button value="지역단위 할당" onclick="openSubRoute()">지역단위 할당</button>
    </div>
    <div class="search-bar-element">
    <button value="송장 할당" onclick="updateCourier()">할당 내역 적용</button>
    </div>
    <div class="search-bar-element"><input type="text" id="courierCnt" readonly/>
    </div>
</div>
<div class="subRoute-Save" id = "subRoute-Save" style="position:relative; display: none; border: 2px solid palegreen">
    <table id="subRoute-table">
        <thead class="subRoute-table-header">
            <tr>
                <th>userId</th>
                <th>subroute</th>
            </tr>
        </thead>
        <tbody class="subRoute-table-body" id="subRoute-table-body">
        </tbody>
    </table>
    <button style="margin: auto" value="지역단위 할당 완료" onclick="saveSubRoute()">완료</button>
</div>
<div class="user-table">
    <table id="user-table">
        <caption>유저 테이블</caption>
        <thead class="user-table-header">
            <tr>
                <th width="15%">Check</th>
                <th>number</th>
                <th>UserName</th>
            </tr>
        </thead>
        <tbody class="user-table-body" id="user-table-body">
        </tbody>
    </table>
</div>
<div class="courier-table">
    <table id="courier-table">
        <caption>송장 테이블</caption>
        <thead class="courier-table-header">
        <tr>
            <th width="5%"><input type="checkbox" name="Courier-select" onclick="selectAll(this)"></th>
            <th width="20%">Number</th>
            <th width="5%">Route</th>
            <th width="5%">SubRoute</th>
            <th width="12.5%">State</th>
            <th width="12.5%">Customer</th>
            <th width="20%">ArrivalDate</th>
            <th width="20%">UserName</th>
        </tr>
        </thead>
        <tbody class="courier-table-body" id="courier-table-body">
        </tbody>
    </table>
</div>
<input type="hidden" id="detailSave_send" value="">
</body>
</html>