<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/setDelivery.js}" ></script>
    <title>지역배송담당자 배정 페이지</title>
</head>
<body>
<div class="delivery-save" id = "delivery-save">
    <table id="delivery-table">
        <thead class="delivery-table-header">
        <tr>
            <th colspan="4"><input id="route" type="text" value="" style="text-align: center" readonly>
            <button style="float: right; margin: 0; padding: 0; display: flex" onclick="setDone()">변경사항 저장</button></th>
        </tr>
        <tr>
            <th>지역번호</th>
            <th>세부지역</th>
            <th>우편번호</th>
            <th>지역배송담당자</th>
        </tr>
        </thead>
        <tbody class="delivery-table-body" id="delivery-table-body">
        </tbody>
    </table>
</div>
</body>
</html>